@use "../variables.scss";

.form-control {
  transition: border-color .2s ease, box-shadow .2s ease;
}

/* Hover or focus state */
.form-control:hover,
.form-control:focus {
  border-color: variables.$dark-blue;                   
  box-shadow: variables.$box-shadow;
}